img {
    width: 50%;
}
body {
    text-align: center;
    font-family: "Arial";
}
.who {
    background:url("https://media3.giphy.com/media/9RTiWDExHW6aY/200.gif ");
}
body {
    font-family: 'Libre Barcode 39 Extended Text', cursive;
    color:#564;
    font-size:10px; 
    font-weight:300;
}
h1:hover {
    color: red;
}